@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
    font-family:'Montserrat', sans-serif;
}

.mainheader{
    background-color: #d0d5d6;
}

.mainsection{
    background-color: #d0d5d7;
}
 .H{
    color:blue;
 }
 .span{
    background-color: lightblue;
 }

